# Environment variables example configuration

CHROMEDRIVER_PATH="C:\\path\\to\\chromedriver.exe"

SEARCH_QUERY="python for beginners"

SQLITE_DB_PATH="results.db"

SCRAPER="selenium"

PARSER="google"

DATABASE="sqlite"