# Environment variables example configuration

CHROMEDRIVER_PATH="C:\\path\\to\\chromedriver.exe"

SEARCH_QUERY="python for beginners"

SQLITE_DB_PATH="results.db"

SCREENSHOT_PATH="Data/latest_view.png"

EXPORT_PATH="Data/exports"

SCRAPINGDOG_API_KEY="your_scrapingdog_api_key"

SCRAPER="selenium"

PARSER="basic_parser"

DATABASE="sqlite"